# Ignore Dockerfile itself (it should not be copied into the image)
Dockerfile

# Ignore .git directory (if using Git for version control)
.git

# Ignore log files (to prevent Docker images from carrying unnecessary logs)
*.log

# Ignore the SSL certificate private keys (if they're not being copied into the container)
*.key
